.title-bar.hide-for-large {
    background: rgba(0,0,0,.8);
}
.off-canvas-content {
    background: rgba(0,0,0,.0);
    color: #fff;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.0);
}
.callout.primary {
    background: rgba(0,0,0,.3);
    color: #fff;
}
.callout {
    background: rgba(0,0,0,.0);
}
.title-bar.hide-for-large {
    background: rgba(0,0,0,.8);
    color: #fff
}
#my-info {
    background: rgba(0,0,0,.3);
    color: #fff
}
.row.column {
    background: rgba(255,255,255,.0);
}
.row {
}
body {
    background-image: url("../images/Dither_Masterlg.svg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
a:link, a:visited {color: rgba(255,255,255,.8);
    background: rgba(0,0,0,.2);
    padding: 3px;
}
a:hover {color: #ffffff;
}
a:active {color: #000000;
}

