.off-canvas-content {
    background-color: rgba(0,0,0,.2);
    box-shadow: 0;
    color: #fff;
}
.callout.primary {
    /*background-color: rgba(0,0,0,.0);*/
}
.callout {
}
.body {
    background-image: url("../images/Dither_Masterlg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
