body {
    background-color: #ffffff;
}

/*
.col-1 {width: 100%;}   .col-2 {width: 75%;}    .col-3 {width: 25%;}
.col-4 {width: 33%;}    .col-5 {width: 66%;}    .col-6 {width: 99%;}
.col-7 {width: 20%;}    .col-8 {width: 40%;}    .col-9 {width: 60%;}
.col-10 {width: 80%;}   .col-11 {width: 5%;}    .col-12 {width: 50%;}
*/

h1 {
     /*box-sizing: border-box;*/
    text-align: center;
    color: #ffffff;
    font-family: "helvetica", "Geneva", monospace;
    font-weight: bold;
    /*text-shadow:
     -1px -1px 0 #000,  1px -1px 0 #000,  
     -1px 1px 0 #000,  1px 1px 0 #000;*/
    padding: 20px 5px;
    background-color: #004d2d;
    /*border: 5px solid #ffffff;*/
}

h2 {
     /*box-sizing: border-box;*/
    font-family: "helvetica", "Geneva", sans-serif;
    text-align: center;
    color: #277553;
    margin: 50px 20%;
    height: 100px;
    width: 80%;
    padding: 10px;
    display: block;
}

p {
    box-sizing: border-box;
   font-family: "helvetica", "Geneva", sans-serif;
   text-align: center;
   color: #74AE95;
    margin: auto;
    /*width: 80%;*/
    padding: 10px;
}

.pglinks { opacity: 0.7;
}
.pglinks:hover { opacity: 1.0;
}

a:link, a:visited { color: #277553;
    text-decoration: none;}
a:hover { color: #40bf88;
    text-decoration: none;}
a:active { color: #64e64d;
    text-decoration: none;}
