body {
    background-color: #ffffff;
}


h1 {
    text-align: center;
    color: #ffffff;
    font-family: "helvetica", "Geneva", monospace;
    font-weight: bold;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    margin: 40px 20px;
    padding: 20px 5px;
    background-color: #004d2d;
    border-style: 20px none solid #74AE95;
    /*border: 5px solid #ffffff;*/
}

}

h2 {
    font-family: "helvetica", "Geneva", sans-serif;
    text-align: center;
    color: #277553;
}

p {
   font-family: "helvetica", "Geneva", sans-serif;
   text-align: center;
   color: #74AE95;
}

a:link, a:visited {
    color: #277553;
    text-decoration: none;
}
a:hover {
    color: #40bf88;
    text-decoration: none;
}
a:active {
    color: #55ff00;
    text-decoration: none;
}
